/* Write your code here. */
* {
  margin: 0px;
}
.app-container {
  background-image: linear-gradient(to right, #9796f0, #fbc7d4);
  min-height: 100vh;
}
.emojis-game-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin-top: 40px;
}
.emojis-list-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 60%;
  list-style-type: none;
  flex-wrap: wrap;
}
