/* Write your code here. */
.nav-bar-container {
  display: flex;
  justify-content: center;
  background-color: #ffffff33;
  font-family: 'Roboto';
  padding-top: 5px;
  padding-bottom: 5px;
}
.logo-score-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.logo-heading-container {
  display: flex;
  align-items: center;
}
.logo-img {
  height: 40px;
  margin-right: 5px;
}
.logo-heading {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
}
